.home-page-tab {
  margin-top: 180px;
  background-image: url('../../../public/images/content_background.png');
  background-repeat: no-repeat;

  @media screen and (max-width: $breakpoint_small_tablet_max) {
    margin-top: 48px;
    font-weight: 700;
  }

  .ant-tabs-nav-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 136px;

    @media screen and (max-width: $breakpoint_small_tablet_max) {
      margin-bottom: 48px;
      border-bottom: 1px solid $color_white_0_1;
    }

    .ant-tabs-nav-list {
      @media screen and (max-width: $breakpoint_small_tablet_max) {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
  }

  .ant-tabs-nav {
    &::before {
      border-bottom: unset;
    }

    .ant-tabs-tab {
      @media screen and (max-width: $breakpoint_small_tablet_max) {
        padding: 0px;
        margin: 0px;
      }

      .ant-tabs-tab-btn {
        font-family: $helvetica;
        font-weight: 700;
        font-size: 48px;
        line-height: 30px;
        text-align: center;
        letter-spacing: 0.015em;
        color: $color_white_0_5;
        padding: 10px 0;

        @media screen and (max-width: $breakpoint_small_tablet_max) {
          border-bottom: 2px solid rgba(255, 255, 255, 0.5);
          font-size: 24px;
          line-height: 30px;
          text-align: center;
          letter-spacing: 0.015em;
        }
      }

      @media only screen and (max-width: $breakpoint_tablet_max) {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .ant-tabs-tab-active {
      .ant-tabs-tab-btn {
        color: $color_tango;
      }

      @media only screen and (max-width: $breakpoint_tablet_max) {
        .ant-tabs-tab-btn {
          border-bottom: 2px solid $color_tango !important;
        }
      }
    }

    .ant-tabs-ink-bar {
      background-color: $color_tango;
    }
  }
}

.home-nfts {
  margin-top: 6.25rem;
  position: relative;

  .swiper {
    position: static;

    &-button-prev,
    &-button-next {
      width: 2.625rem;
      height: 2.625rem;
      color: white;
      background: #b38465;
      border-radius: 50%;

      @media only screen and (max-width: $breakpoint_small_tablet_max) {
        display: none;
      }
    }

    &-button-prev {
      left: -35px;
    }

    &-button-next {
      right: -35px;
    }

    .swiper-button-next:after,
    .swiper-button-prev:after {
      font-size: 16px;
      line-height: 42px;
      color: white;
    }
  }

  .title {
    margin-bottom: 44px;

    span {
      font-family: $amore_dreaming;
      font-style: normal;
      font-weight: 400;
      font-size: 28px;
      line-height: 37px;
      letter-spacing: 0.03em;
      color: #b38465;
    }
  }

  .nft {
    &_box {
      background: #17232f;
      border-radius: 5px;
      padding: 16px;
    }

    &__preview {
      width: 100%;

      .ant-image {
        width: 100%;

        img {
          border-radius: 3px;
          width: 100%;
          aspect-ratio: 1 / 1;
          object-fit: cover;
        }
      }
    }

    &_name div {
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: white;
      margin-top: 24px;
      text-transform: capitalize;
    }

    &_total {
      font-weight: 300;
      font-size: 14px;
      line-height: 21px;
      margin-top: 8px;
      text-transform: capitalize;
    }
  }

  .ant-image {
    .ant-image-img {
      border-radius: 10px;
    }
  }

  .carousel-nfts * {
    text-align: center;
  }
}
